{% extends "site_base_layout.html" %}

{% block title %}Become a Member{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">
	<div class="col-md-12">
		<div class="container">
			<div class="row">
				<div class="col" id="become-member-col-1">
				</div>
				<div class="col">
					<div class="main-text-block">
						<h1><span><span
									style="display: flex; color: rgb(61 6 74); font-weight: 900; text-align:center; place-content:center;">BECOME
									A
									MEMBER</span></span>
						</h1>
						<p id="fee-text">The official membership fee for the 2021 Fall semester is $15.</p>
						<p>Apply to become a member through the link below, or ask any of the officers during meetings.
							Membership perks include: </p>
						<ul>
							<li> Access to art supplies </li>
							<li> Materials for workshops & art activities (e.g. canvases, paintbrushes,
								paint, etc.)
							</li>
							<li> Free tickets to outings & excursions (e.g. museum entrance fees) </li>
							<li> Exhibiting/selling art at physical venues (SAS assists with promotion,
								advertisement, setting
								up space, etc.)
							</li>
							<li> Running for a leadership position </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container" id="become-member-container-1">
		</div>
		<div class="container" id="become-member-container-2">
			<div class="button-block2">
				<a href="https://forms.gle/xcYxuV1UvpAVKC8cA" target="_blank" rel="noopener">Apply to become a
					member.</a>
			</div>
		</div>
		<div class="container" id="become-member-container-1">
		</div>
	</div>
</div>
<div class="row" id="art-credit-row">
	<p>(Top to bottom) Images by boomunderground via Giphy, Pi-Slices</p>
</div>
{% endblock %}

<!-- end page content -->