{% extends "site_base_layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">
	<div class="col-md-12">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<div class="main-text-block">
						<h1><span>STUDENT <span style="display: flex; color: rgb(61 6 74); font-weight: 900">ART</span>
								SOCIETY
								@
								UTSA</span></h1>
						<p>Welcome to the Student Art Society @ the University of Texas at San Antonio.
							Established
							in 2020, this
							student-led organization embraces students from any major and level of experience
							who
							have a special
							interest in the arts. SAS offers resources, opportunities, and extra-academic
							experiences to support the
							artistic practices of students.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="side-text-block">
						<div class="button-block1">
							<a href="https://rowdylink.utsa.edu/organization/studentartsociety" target="_blank"
								rel="noopener">Visit
								our RowdyLink to be updated on
								upcoming events.</a>
						</div>
						<div class="button-block1">
							<a href="https://groupme.com/join_group/57761474/JAbbYsUL" target="_blank"
								rel="noopener">Join
								our GroupMe.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" id="bgd1">
	<h2 id="big-h2">MEETINGS EVERY WEDNESDAY 5PM</h2>
	<h2 id="small-h2">Location announced on GroupMe.</h2>
</div>
<div class="row" id="art-credit-row">
	<p>Image by Christina Zhang</p>
</div>
{% endblock %}

<!-- end page content -->