{% extends "site_base_layout.html" %}

{% block title %}Member Spotlight{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- begin page content -->
<div class="row">
	<div class="col-md-12">

		<div class="main-text-block">
			<h1><span><span style="display: flex; color: rgb(61 6 74); font-weight: 900">MEMBER
						SPOTLIGHT</span></span>
			</h1>
			<p>Student Art Society is a collective comprised of a creative individuals in the San
				Antonio area. Featuring a diverse range of talents and experiences, members share a deep
				interest in art, advocacy, and/or forms of expression.</p>
		</div>

		<p>If you are currently a member and you would like to be featured on this page, email us your name and 2-3
			sentence bio to studentartsocietyatutsa@gmail.com.</p>
	</div>
	<div class="members">
		<div class="col-sm-12">
			<div class="container-fluid" id="member">
				<image src="{{ url_for('static', filename = 'images/KG.jpg'   )}}" width=20% class="officer-img">
				</image>
				<div>
					<h3>Keerthi Gummidipundi</h3>
					<p>Fall 2021</p>
					<p>
						My name is Keerthi Gummidipundi. I'm currently a freshman majoring in Geosciences. I have a
						passion for art since my childhood days and it is my hobby too! During my high school, I was
						also part of the Art club.
					</p>
				</div>
			</div>
		</div>
		<!-- <div class="col-sm-12">
			<div class="container-fluid" id="member">
				<image src="{{ url_for('static', filename = 'images/jerzy.jpg'   )}}" width=20% class="officer-img">
				</image>
				<div>
					<h3>VICE PRESIDENT</h3>
					<p>Jerzy Nowakowski</p>
					<p>
						Media of Choice: Ceramics, graphite
					</p>
				</div>
			</div>
	</div>
	<div class="col-sm-12">
		<div class="container-fluid" id="member">
			<image src="{{ url_for('static', filename = 'images/elias.jpg'   )}}" width=20% class="officer-img">
			</image>
			<div>
				<h3>TREASURER</h3>
				<p>Elias Hudson</p>
				<p>
					Media of Choice: Graphic design
				</p>
			</div>
		</div>
	</div>
	-->
	</div>
</div>
{% endblock %}

<!-- end page content -->